body {
    font-family: 'Courier New', Courier, monospace;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    gap: 4rem; ;
}
button {
    cursor: pointer;
}
.container {
    display: flex;
    gap: 4em; 
}
.container input {
    height: 50px;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
#cars {
    width: 200px;
    height: 30px;
}
menu {
    margin: 0px;
    padding: 0px;
    display: none;

}
.solution-method {
    height: 40px;
    width: 10em;
  border-radius: 5px;
  text-align: center;
    /* display: none; */
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-top: 10px;
    gap: 10px;

}
.dropdown-menu button {
    border: none;
    background-color: transparent;

}
.dropdown-menu button:hover {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
.calculation-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.answer {
    text-align: center;
}
